@page "{realmId:long}"

@model Index

@using Humanizer

@using RealmHelper.Application.Utils

@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Overview";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/realm/overview.css" asp-append-version="true" />
}

<div class="realm-overview">
    <div class="box">
        <div class="realm-header" style="--background: url(../../img/overview-bg.png)">
            <img src="https://mc-heads.net/avatar/@Model.Realm.Owner" alt="" class="realm-icon">
    
            <div class="realm-info">
                <span class="realm-name">@Model.Realm.Name</span>
                <span class="realm-motd">@Model.Realm.Motd</span>
            </div>
        </div>
    
        <ul class="realm-body">
            <li class="realm-entry">
                <span class="key">State</span>
                <span class="value">@Model.Realm.State.Transform(To.LowerCase, To.TitleCase)</span>
            </li>
    
            <li class="realm-entry">
                <span class="key">Status</span>
                <span class="value">@(Model.Realm.Expired ? "Expired" : "Running")</span>
            </li>
    
            @if (!Model.Realm.Expired && Model.Realm.IsOwner(User))
            {
                <li class="realm-entry">
                    <span class="key">Expires in</span>
                    <span class="value">@("day".ToQuantity(Model.Realm.DaysLeft))</span>
                </li>
            }
    
            <li class="realm-entry">
                <span class="key">Owner</span>
                <span class="value">@Model.Realm.Owner</span>
            </li>
        </ul>
    </div>
</div>